# Core dependencies
fastapi
uvicorn
transformers
torch
huggingface_hub
watchdog
accelerate
pyyaml
optimum
auto-gptq
pymongo


# Playwright for test automation
playwright
behave

# Testing dependencies
pytest
pytest-playwright
pytest-bdd

# Other utilities
pydantic
python-dotenv
requests